div {
    height: 100px;
    width: 700px;
    background-color:chocolate;
    /* border-width: 5px;
    border-style: solid;
    border-color:cadetblue; */
    /* A shorthand for this: */
    border: 5px solid black;
    /* for border sides
    border-left-style:dotted;
    border-left-color:blue; */
    /* border-top: 5px dotted black; */
    border-radius: 10px;
    /* for just one sides
    border-top-right-radius:20px;
    border-bottom-left-radius:20px; */
} 

h1{
    /* border-width: 2px;
    border-color:blue;
    border-style:dashed; */
    border: 2px dashed blue;
}